extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Simon

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          h5 Hi, I'm Simon! 
          p
            | I am a fullstack JavaScript developer with solid experience in project management. Currently I am working as a project manager in the financial sector. 
            | My specialties include: Agile Methodologies, MVP, JavaScript, MySQL, React on top of many other programming languages and frameworks.
            | If you want to know more about me, you can also take a look at my portfolio.
    
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

     
        ul
          li JavaScript
          li AJAX
          li Object Oriented Programming (OOP) with JS
          li Asynchronous Programming (Promise)
          li Asynchronous Programming (Asyn/Await)
          li Node
          li CSS
          li HTML
          li React
          li Bootstrap 
          li etc.
        h6 Contact Info


        ul
          li fakemail@email.com

        a.button.expanded(href='https://github.com/SimonFeu/', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  